name: Python CI

# Triggers the event
on:
  push:
    branch: 
      - main
  pull_request:
    branch:
      - main

# creating an environment
jobs:
  build-and-test:
    runs-on: ubuntu-latest
# environmental variable
    env:
      Fib_input: ${{ vars.Fib_input }}

# downloading the git repo into the vm (runner)/ cloning it
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

# installing python on the runner
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.14"

# installing the dependencies
      #- name: Install pytest
      #  run: pip install pytest

      - name: Install dependencies
        run: pip install -r requirements.txt

# running the fibonacci file
      - name: Run Fibonacci
        run: python python/maths/fibonacci.py $Fib_input


# running test
      - name: Run test
        run: pytest python/maths/tests/test_fibonacci.py
